.listGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.listTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tf{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.listLaunch{
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #react-paginate li {
    display: inline-block;
  }

.btnDisable{
    color: gray;
    cursor:default;
}
@media only screen and (max-width: 900px) {
    .listGrid{
    grid-template-columns: repeat(1, 1fr);
    }
    .listLaunch{
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
   
}