.pageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: -10px;
}
.pageTitle {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;

  font-size: 40px;
}
.searchBar{
  position: absolute;
  top: 9.5%;
}
.agencyLogo {
  object-fit: fill;
  max-width: 40%;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--detailColor);
}
.title {
  background-color: var(--thirdColor);
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.pageBody {
  width: 75%;
  font-size: 25px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itemPage {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemTitle {
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.agenciesPage{
  width: 97%;
  margin: 20px
}
@media only screen and (max-width: 900px) {
  .itemTitle {
    font-size: 25px;
  }
  .pageBody {
    font-size: 18px;
    justify-content: left;
    align-items: flex-start;
  }
  .itemPage {
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .searchBar{
    position: relative;
  }
}
