a{
    text-decoration: none;
    color: var(--firstColor) ;
    transition: 0.3s;
}
a:hover{
    color: var(--detailColor);
}
.navwrapper{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}
.NavbarContainer{
    z-index: 10;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    background-color: var(--secondColor);

}
.menuIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.burgericon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-left: -8px;
    transition: 1s;
    width: 40px;
    height: 40px;
}
.logoMain{
    transition: 0.3s;
    padding-left: 20px;
    font-size: 30px;
}
.logoMain:hover .secondLogo{
    color: var(--firstColor);

}
.secondLogo{
    transition: 0.3s;
    color: var(--detailColor);
}
#menuExpand{
    display:none
}
.subMenu{
    position: relative;
    z-index: -10;
    transition: 5s;
    background-color: var(--thirdColor);
    animation: slideDown 0.3s 1;
    animation-fill-mode: forwards;
}
.NavbarD{
    display: flex;
    justify-items: center;
    align-items: baseline;
}
.linksNavbar{
    font-size: 20px;
}
.subMenuItems{
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.menuItem{
    transition: 0.3s;
    margin-left: 20px;
    cursor: pointer;
}
.menuItem:hover{
    color: var(--detailColor);
}
.logoMain:hover{
    color: var(--detailColor);
}

.subMenuItem{
    margin: 10px;
    list-style: none;
    width: 50%;

    font-size: 40px;
    padding: 5px;
}
hr{
    margin: 0;
    width: 80%;
}
@keyframes slideDown{
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(-1%);
      opacity: 0.95;
    }
  }