@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto:wght@300&family=Yaldevi:wght@200&display=swap");
:root {
  --background: #3f4045;
  --secondColor: #30292f;
  --thirdColor: #292628;
  --firstColor: #fcfcfc;
  --detailColor: #00aaff;
}

body {
  color: var(--firstColor);
  background-color: var(--background);
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.loadingLogo {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.timerBlock {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  
}
.timer {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  
}
.subTimer{
  font-size: 20px;
}
