@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto:wght@300&family=Yaldevi:wght@200&display=swap');
:root{
  --background:#3F4045;
  --secondColor:#30292F;
  --firstColor:#FCFCFC;
  --detailColor:#5D737E;
}


body{
  color: var(--firstColor);
  background-color: var(--background);
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}