.wrap {
  flex-basis: 100%;
  width: auto;
  height: auto;
  border-radius: 20px;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.25); 
box-shadow: 5px 5px 16px 5px rgba(0,0,0,0.25);
display: flex;
flex-direction: column;
}

.bg-launch-img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.launchTitle {
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  font-size: 30px;
  width: 95%;
  margin: auto;
}
.launchTimer{
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  font-size: 27px;
  width: 80%;
  margin: auto;
  vertical-align: top;
}
.hr80{
  margin: auto;
  width: 80%;
}
.hr60{
  margin: auto;
  width: 60%;
}
.detail{
  width: 100%;
  height: 250px;
  background-color: var(--thirdColor);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
}
.m-top-0{
  margin-top: 0px;
  margin-bottom: 0px;
}
.detailContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 90%;
}
.status{
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statusAct{
  margin: auto;
  cursor: help;
}
.moreButton{
  padding: 4px;
  cursor: pointer;
  width: 20%;
  text-align: center;
  margin: auto;
  border-style: solid;
  border-color: var(--firstColor);
  border-radius: 20px;
  border-width: 2px;
  transition: 0.3s;
}
.moreButton:hover{
  background-color: var(--firstColor);
  color: black;
}
